body{
    background-color: hsl(36, 100%, 99%);
    padding:50px;
}
nav{
    display:grid;
    grid-template-columns: 50% repeat(5,1fr);

}
main{
    display:grid;
    grid-gap:50px;
    grid-template-columns: 200px 390px;
}
footer{
    display:grid;
    grid-gap:50px;
    grid-template-columns: repeat(3,1fr);
}
footer>div{
    display:flex;
    flex-direction: column;
}
footer>div>img{
    width:110px;
}
#banner-img{
    width:640px;
}

.read-more{
    padding:10px 30px;
    background-color: hsl(5, 85%, 63%);
    color:white;
    font-weight: bold;
    font-size: small;
}

